<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
	<meta name="keywords" content="uzbl, browser, open source"/>
	<meta name="description" content="Uzbl is a lightweight webkit browser following the UNIX philosophy - to do one thing and do it well."/>
	<meta name="author" content="Michael Walker"/>
	<meta name="robots" content="FOLLOW,INDEX"/>

	<title>Uzbl - the uzbl browser.</title>

	<link rel="stylesheet" href="style.css" type="text/css" />
	<!--<link rel="shortcut icon" type="application/ico" href="/favicon.ico" />
	<base href="http://www.uzbl.org/"/>-->
  </head>

  <body>
    <div id="page">
      <div id="header">
        <h1>Uzbl</h1>
        <p>The uzbl browser.</p>
      </div>
      
      <div id="navigation">
        <ul>
          <li><a href="/get.html">Get</a></li>
          <li><a href="/contribute.html">Contribute</a></li>
          <li id="selected"><a href="/">Home</a></li>
        </ul>
      </div>
      
      <div id="right">
        <div id="commits">
          <h2>Recent Commits</h2>
          <ul>
            <li>merge in some fixes from barrucadu <span class="branch">experimental</span></li>
            <li>fix for sample commands <span class="branch">master</span></li>
            <li>commit messages <span class="branch">experimental</span></li>
            <li>go here <span class="branch">experimental</span></li>
            <li>in this <span class="branch">master</span></li>
            <li>nice list <span class="branch">experimental</span></li>
          </ul>
        </div>
        
        <div id="branches">
          <h2>Branches</h2>
          <ul>
            <li>Dieterbe
              <ol>
                <li><a href="http://github.com/Dieterbe/uzbl/tree/master">master</a></li>
                <li><a href="http://github.com/Dieterbe/uzbl/tree/experimental">experimental</a></li>
            </ol></li>
            <li>dusanx
              <ol>
                <li><a href="http://github.com/dusanx/uzbl/tree/master">master</a></li>
            </ol></li>
            <li>Barrucadu
              <ol>
                <li><a href="http://github.com/Barrucadu/uzbl/tree/experimental">experimental</a></li>
            </ol></li>
          </ul>
        </div>
      </div>
      
      <div id="left">
        <div id="about">
          <h2>The uzbl browser&hellip;</h2>
          <p>&hellip;a minimal WebKit browser with vim-like commands, modes, no unnecessary interface elements (we really cracked down on those), and all controllable from a FIFO and with external scripts - what more could you want? Uzbl exists to supply a browser that follows the UNIX philosophy - &quot;Write programs that do one thing and do it well. Write programs to work together. Write programs to handle text streams, because that is a universal interface.&quot;</p>
          <p>Uzbl is under heavy development at the moment and shouldn't really be used unless as your main browser. Unless you're daring of course. The latest 'stable' branch is located in Dieterbe's master branch, and the latest development version in his experimental branch. You can, however, run code from the other developers branches, it just might not work.</p>
        </div>
        
        <div id="news">
          <h2>Latest News</h2>
          
          <div class="newsitem">
            <h3>Lorem ipsum dolor sit amet</h3>
            <span class="date">2009-04-26</span>
            <p>Consectetur adipiscing elit. Vivamus a quam ut odio volutpat convallis. Curabitur pulvinar accumsan velit. Nunc enim sapien, venenatis eu, accumsan eu, volutpat vitae, lacus. In hac habitasse platea dictumst. Donec adipiscing, eros id volutpat placerat, nisi neque malesuada turpis, eget aliquet massa libero quis ligula. Nulla facilisi. Duis accumsan, odio id ullamcorper pretium, quam sem lacinia nisl, a dapibus elit nisl sit amet eros. Nulla facilisi. Suspendisse potenti. Aenean auctor mauris et tellus. Maecenas consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam commodo libero non velit. Curabitur gravida ante vel nisi. Pellentesque ac libero. Etiam aliquam dolor. Donec nisl felis, sagittis eu, hendrerit sed, dignissim a, velit. Praesent massa est, interdum a, consectetur a, laoreet at, tellus. Pellentesque nec ipsum. Nunc bibendum.</p>
          </div>
          
          <div class="newsitem">
            <h3>Class aptent</h3>
            <span class="date">2009-04-26</span>
            <p>Taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris mauris. Aliquam blandit, sem non suscipit sodales, justo leo tempus enim, a aliquet nunc metus quis tortor. Cras a sem nec turpis tristique mollis. Aenean congue consequat mauris. Quisque sollicitudin mollis metus. Sed egestas, augue sit amet rutrum imperdiet, dui lacus facilisis orci, at convallis enim leo vitae purus. Maecenas tincidunt ultrices dui. Morbi aliquet orci non felis. In pharetra tortor ut dui. Integer rhoncus dolor id libero. Aenean eleifend ultrices tellus. Cras vel nunc sed nisi dignissim lobortis. Curabitur adipiscing leo et augue. Duis risus. Nunc iaculis vulputate odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque in ante. Pellentesque at felis id quam venenatis imperdiet.</p>
          </div>
          
          <div class="newsitem">
            <h3>Maecenas felis</h3>
            <span class="date">2009-04-26</span>
            <p>Fusce elit metus, adipiscing eget, convallis ut, varius in, tellus. Sed tincidunt libero non urna. Nam eu neque. Cras lacus lacus, vestibulum a, hendrerit nec, scelerisque vitae, metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean dapibus metus vel diam. Vivamus rutrum cursus erat. Donec ac ipsum quis arcu consequat euismod. Sed ipsum. Mauris in massa. Maecenas et lorem.</p>
          </div>
          
          <div class="newsitem">
            <h3>Vivamus metus lorem</h3>
            <span class="date">2009-04-26</span>
            <p>Dictum vitae, ornare laoreet, condimentum sed, dolor. Donec ligula. Mauris magna. Fusce eget lacus. Praesent volutpat tempus libero. Maecenas placerat orci eget lectus. Duis non purus. Sed ante mauris, convallis et, tincidunt a, scelerisque sit amet, neque. Ut convallis neque quis mi. In vehicula, risus id suscipit porta, nisl felis mattis mi, eget gravida elit massa congue turpis. Nullam rutrum magna pulvinar ipsum. Suspendisse bibendum elit eget nisl. Pellentesque tellus orci, interdum in, scelerisque in, gravida ac, lectus. In vel metus ac tortor euismod rhoncus. Suspendisse vitae urna a leo malesuada sollicitudin. Curabitur eget turpis. Nam nisl elit, ullamcorper feugiat, semper a, facilisis vel, risus. Curabitur tempus mauris eu lorem.</p>
          </div>
          
          <div class="newsitem">
            <h3>Nulla elit</h3>
            <span class="date">2009-04-26</span>
            <p>Duis sit amet erat id nisl convallis pulvinar. Cras dui elit, vehicula sollicitudin, tincidunt imperdiet, luctus eget, nisl. Vivamus bibendum tincidunt nulla. Nam neque. Sed mi. Phasellus scelerisque purus scelerisque neque. Nam erat. Fusce sollicitudin, odio tincidunt ultricies auctor, eros lacus suscipit sem, at viverra sem mi ut ipsum. Curabitur ultrices diam non risus. Ut nisl. Donec vitae est. Suspendisse potenti. Maecenas vitae dui. Nam mauris arcu, mattis nec, iaculis id, laoreet sit amet, ligula. Sed blandit. Fusce tempus. Duis facilisis, dolor quis fringilla eleifend, purus urna vehicula nunc, bibendum scelerisque mi ante non diam. In auctor. Duis quis magna.</p>
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>
