body
{
    background-color:#eeeeee;
    font-size:13px;
    font-family:Liberation Sans, DejaVu Sans, Nimbus Sans, Verdana, Arial, Trebuchet MS, sans-serif;
    margin:0px;
    padding:12px 15% 12px 15%;
    text-align:justify;
    color:#2c2c2c;
}


a:link, a:visited
{
    text-decoration:none;
    color:#858585;
}

a:active, a:hover
{
    text-decoration:underline;
    color:#598683;
}

h2, h3
{
    color:#666666;
    border-bottom:1px solid #e4e4e4;
    margin:0px 0px 10px 0px;
    padding:0px 0px 10px 0px;
    font-weight:bold;
    text-decoration:none;
}

h2
{
    font-size:20px;
}

h3
{
    font-size:16px;
}

#page
{
    border:1px solid #a4a4a4;
    background-color:#ffffff;
    padding:0px;
    margin:0px;
}

#header
{
    margin:0px;
    padding:10px;
}

#header h1
{
    margin:0px;
    padding:0px;
    font-size:64px;
    display:inline;
}

#header p
{
    font-size:16px;
    font-style:italic;
    display:inline;
    padding:0px 0px 0px 16px;
    margin:0px;
    color:#c2c2c2;
}

#navigation ul
{
    list-style-type:none;
    float:left;
    display:block;
    width:100%;
    clear:both;
    margin:0px;
    padding:0px;
    background-color:#999999;
}

#navigation ul li
{
    display:inline;
}

#navigation a
{
    color:#ffffff;
    display:block;
    float:right;
    width:100px;
    padding:10px 0px 10px 0px;
    margin:0px;
    text-decoration:none;
    text-align:center;
}

#navigation a:visited, #navigation a:link
{
    background-color:#999999;
}

#navigation li#selected a:visited, #navigation li#selected a:link
{
    background-color:#aaaaaa;
}

#navigation a:active, #navigation a:hover
{
    background-color:#658bb5;
}

#left, #right, #main
{
    margin:0px 10px 0px 20px;
    padding:0px;
}

#right
{
    width:33%;
    float:right;
    background-color:#ffffff;
    font-size:10px;
}

#commits ul
{
    list-style:none;
}

#commits li
{
    padding-bottom:10px;
}

#commits .branch
{
    float:right;
    font-style:italic;
}

#branches ul, #branches ol
{
    list-style:none;
}

#branches li
{
    padding-bottom:10px;
}

#branches ol li
{
    padding-bottom:0px;
}

#left
{
    width:67%;
}

#main
{
    margin:0px 10px 0px 10px;
}

.error
{
    color:#FF0000;
    font-weight:bold;
}

#newslinks
{
    list-style:none;
    font-size:10px;
    font-weight:bold;
}

#newslinks li
{
    margin-bottom:5px;
}